@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: cell;
  background-color: #191923;
}
a {
  text-decoration: none;
}

/* INDEX */

.main {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  font-family: "Silkscreen", cursive;
}

.main_text {
  color: #fbfef9;
  font-size: 60px;
}

/* PEPE GIF */

img {
  width: 200px;
  pointer-events: none;
}

/* CLICKER BUTTON */

.link-a div {
  position: relative;
  color: #fbfef9;
  transition: all 0.3s linear;
  border-radius: 20px;
  font-size: 25px;
  width: 250px;
  text-align: center;
}
.link-a div:hover {
  color: #191923;
  background-color: #fbfef9;
}

/* CONTACT BUTTON */

.link-b {
  position: relative;
  top: 8px;
}

.link-b div {
  position: relative;
  color: #fbfef9;
  transition: all 0.3s linear;
  border-radius: 20px;
  font-size: 25px;
  width: 150px;
  text-align: center;
}
.link-b div:hover {
  color: #191923;
  background-color: #fbfef9;
}
